@page "/formulario/{id:int}"
@using BlazorApp3.Models
@using BlazorApp3.Repositorio
@using BlazorApp3.Data
@inject IPermissaoRepositorio ipermissaorepositorio
@inject NavigationManager navigationManager

<h1>Editar</h1>

<hr />
@code {
    public int tipoEmailID, formaEnvioRM, enviarParaID;

    [Parameter]
    public int Id { get; set; }

    PermissaoDbContext pdbcontext { get; set; }
    List<PermissaoCliente> todosClientes = new List<PermissaoCliente>();
    PermissaoCliente cliente = new PermissaoCliente();

    private int formaEnvio, tipoEnvio, enviarPara;
    private bool permitido;

    async Task Save()
    {
        PermissaoCliente clienteEditado = ipermissaorepositorio.FiltrarPorId(Id);
        ipermissaorepositorio.Editar(Id, permitido, tipoEnvio,
            enviarPara, formaEnvio);
        navigationManager.NavigateTo("/");

    }

    protected override void OnInitialized()
    {
        List<PermissaoTipo> listagemTipos = ipermissaorepositorio.ListarPermissaoTipo();
        List<PermissaoEnviarPara> listagemEnviarPara = ipermissaorepositorio.ListarPermissaoEnviarPara();
        List<PermissaoFormaEnvio> listagem = ipermissaorepositorio.ListarFormaPermissao();
        cliente = ipermissaorepositorio.FiltrarPorId(Id);


        permitido = cliente.Permitido;
        formaEnvio = cliente.FormaEnvioRmID.FormaEnvioRmID;
        tipoEnvio = cliente.TipoEmailID.TipoEmailID;
        enviarPara = cliente.EnviarParaID.EnviarParaID;
    }
   
}

@{
   
    
    
}

<h4> Consultando Usuário de Id = @cliente.ClientID </h4>
<hr />
<p> ID : @Id </p>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Permissao" asp-action="UpdateClient" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <h5>Permitido</h5>
            <div class=" text-dark">
                @{
                    if (cliente.Permitido)
                    {
                        <input type="checkbox" @bind="permitido">
                    }
                    else
                    {
                        <input type="checkbox" @bind="permitido">
                    }
                }
                
            </div>
            <br />
            
            <EditForm Model="cliente" OnSubmit="Save" FormName="editClient">
                <h5>Tipo Email </h5>
                <div class="form-group text-dark">                 
                    <h1></h1>
                    @* TIPO EMAIL *@
                    <select @bind="tipoEnvio" class="form-control">
                        <option value="0">--Escolha uma Tipo de Envio-- </option>
                        <option value="1002">Comunicação de Rebalanceamento da Carteira</option>
                        <option value="1003">Comunicação de Movimentos</option>
                        <option value="1004">Mensagem de Feliz Aniversário</option>
                    </select>
                    <h1></h1>
                    <br />
                    @* ENVIAR PARA *@
                    <h5>Enviar Para</h5>
                    <div class="form-group text-dark">
                        <h1></h1>
                        <select @bind="enviarPara" class="form-control">
                            <option value="0">--Escolha para quem Enviar--</option>
                            <option value="1002">Cliente</option>
                            <option value="1003">Consultor</option>
                            <option value="1004">Ambos</option>
                        </select>
                    </div>
                    <br />
                    @* FORMA ENVIO RM *@
                    <h5>Forma Envio RM</h5>
                    <div class="form-group text-dark">
                        <h1></h1>
                        <select @bind="formaEnvio" class="form-control">
                            <option value="0">--Escolha uma Forma de Envio--</option>
                            <option value="1002">Destinatário</option>
                            <option value="1003">Cópia</option>
                            <option value="1004">Cópia Oculta</option>
                        </select>
                    </div>
                    <br />
                    <input type="submit" value="Salvar" class="btn btn-primary" />               
            </div>
            </EditForm>
        </form>
    </div>
</div>
