@page "/"
<h3> Tabela de Clientes </h3>
<hr />
<h5> [+] Adicionar Cliente </h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Permitido</th>
            <th scope="col">TipoEmail</th>
            <th scope="col">EnviarPara</th>
            <th scope="col">FormaEnvio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @* Foreach c in clientes*@
            <th scope="row">1</th>
            <td>true</td>
            <td>Comunicação de Movimentos</td>
            <td>Consultor</td>
            <td>Cópia Oculta</td>
            <td>Editar</td>
            <td>Remover</td>
        </tr>
    </tbody>
</table>